body{
    background-color:  hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    width: 98vw;
    height: 97vh; display: flex; 
    justify-content: center; 
    align-items: center;
}

a{
    text-decoration: none;
    
}
    

h1{
    color: white;
    font-size: medium;
}

h1:hover{
    color:hsl(178, 100%, 50%) ;
}
span:hover{
    color:hsl(178, 100%, 50%) ;
    
}
hr{
    border: 0.5px solid hsl(215, 32%, 27%);
    
}
 
main{
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    height:420px;
    padding: 1.2rem;
    width: 230px;

} 
       

p{
    color: hsl(215, 51%, 70%);
    font-size: 14px;
    font-weight:lighter;
}


span{
    color: white;
}


.attribution{
    position:absolute;
    bottom: 6px;
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}
  


.avatar{
    border: 1px solid white ;
    border-radius: 100%;
    width: 30px;
    position: relative;
    top: 10px;
    left: 5px;
}

.creation{
    position: relative;
    bottom: 34px;
    left: 55px;
}

.days{
    color: #8BACD9;
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 2px;

}
.imgclock{
    padding-left: 54px;

}

.eq-img{

    background-color: hsl(178, 100%, 50%);
    border-radius: 11px;
    height: 230px;
    position: relative;
   
}

.eq{
    
    border-radius: 10px;
    width: 100%;
    margin: 0;
    transition: .5s ease;

}

.eqh{
 position: absolute;
 top: 40%;
 left: 40%;
 margin: 0;
 display: none;


}

.eq-img:hover .eq{
    opacity: 0.6;
}

.eq-img:hover .eqh{
    display:inline ;
}

.eth{
color: hsl(178, 100%, 50%);
padding-bottom:5px;
padding-left: 2px;
font-size: 14px;
transition: .5s ease;
backface-visibility: hidden;
}
